* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial:, sans-serif;
    font-size: 10px;
    background-color: #f0f0f0;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    background-color: #e1e1e1;
    border: 1px solid #adadad;
    font-size: 10px;
	height: 21px;
    cursor: pointer;
}

button:hover{
	border:1px solid #0078d7;
	background-color: #e5f1fb;
}

input[type="file"] {
    padding-top: 6px;
    padding-bottom: 6px;    
}

input{
	background-color: #f0f0f0;  
}

input[type="text"]{
	background-color: #fff;
}
input[type="button"], input[type="submit"]{
	border-rught-color: #adadad;
	border-right-style: solid;
	border-right-width: 1px;
    font-size: 10px;
}

.file-input {
    width: 100%;
}

.submit-btn {
    display: block;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 5px;
        width: 73px;
    }
}


.upload-container {
      max-width: 600px;
      background-color: #f0f0f0;
}

.single-upload {
    margin-bottom: 10px;
}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
}

#mytable,td{
    border:1px solid blue;
}

.card{
	display: flex;
	align-items:center;
}

.card a{
	margin-left:10px;
	margin-right:10px;
}
